.desktopBanner {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/mobileimg/fever.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 🔥 Mobile me hide */
@media (max-width: 768px) {
  .desktopBanner {
    display: none;
  }
}
